@media screen and (max-width: 767px) {
    html, body {
        overflow-x: hidden;
    }

    .home__container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .aboutMe__content {
        display: flex;
        flex-wrap: wrap;
        margin-right: 30%;
    }

    .home__title,
    .home__title--decorated {
        font-size: 1.8rem; /* Ejemplo: ajusta el tamaño del título */
    }

    .myHistory, .papi {
        font-size: 1rem; /* Ejemplo: ajusta el tamaño del texto */
    }

    .fotoVero {
        display: none; /* Ejemplo: oculta la sección fotoVero */
    }

    .proyects__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-right: 30%;
    }

    .certifications__grid img {
        width: 80%; /* Ejemplo: ajusta el ancho de las imágenes de certificados */
    }

    .skills__grid {
        gap: 30px;
        margin-right: 20%;
    }

    .footer-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .redes__sociales img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #form-container {
        width: 100%; /* Ajusta el ancho del formulario según necesidades */
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,0.6);
        margin: auto; /* Centra el formulario horizontalmente */
        padding: 20px; /* Añade un padding interior al formulario */
    }

    label, input, textarea {
        margin-left: -11rem;
    }

    #form {
        display: flex;
        flex-direction: column;

    }

    form button.enviar {
        margin-left: -12%;
    }

    .form-logoVero {
        visibility: hidden;
    }

    .logoVero img {
        width: 10%; /* Ejemplo: ajusta el tamaño del logo */

    }

    .logoVero {
        margin-left: 5%;
    }

    .menu {
        position: absolute;
        background: $background;
        width: 100%;
        top: 105%;
        margin-left: -100%;
        transition: all 0.5s;
    }

    .menu ul {
        flex-direction: column;
        gap: 15px;
        margin-left: 5%;
    }

    .menu li {
        border-top: 1px solid #fcdaf9;
    }

    #btn-menu:checked ~ .menu {
        margin: 0;
    }

    label img {
        visibility: visible;
        position: sticky;
    }

    
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    html, body {
        overflow-x: hidden;
    }

    .home__container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .aboutMe__content {
        display: flex;
        flex-wrap: wrap;
        margin-right: 30%;
    }

    .home__title,
    .home__title--decorated {
        font-size: 1.8rem; /* Ejemplo: ajusta el tamaño del título */
    }

    .myHistory, .papi {
        font-size: 1rem; /* Ejemplo: ajusta el tamaño del texto */
    }

    .fotoVero {
        display: none; /* Ejemplo: oculta la sección fotoVero */
    }

    .proyects__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-right: 30%;
    }

    .certifications__grid img {
        width: 80%; /* Ejemplo: ajusta el ancho de las imágenes de certificados */
    }

    .skills__grid {
        gap: 30px;
        margin-right: 20%;
    }

    .footer-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .redes__sociales img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #form-container {
        width: 100%; /* Ajusta el ancho del formulario según necesidades */
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,0.6);
        margin: auto; /* Centra el formulario horizontalmente */
        padding: 20px; /* Añade un padding interior al formulario */

    }

    #form {
        width: 100%; /* Ajusta el ancho del formulario al contenedor */
        margin-left: -20%;
    }

    .form input[type="submit"] {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin-top: 10px;
    }

    .form-logoVero {
        visibility: hidden;
    }

    .logoVero img {
        width: 10%; /* Ejemplo: ajusta el tamaño del logo */
    }

    .logoVero {
        margin-left: 5%;
    }

    .menu {
        position: absolute;
        background: $background;
        width: 100%;
        top: 105%;
        margin-left: -100%;
        transition: all 0.5s;
    }

    .menu ul {
        flex-direction: column;
        gap: 15px;
        margin-left: 5%;
    }

    .menu li {
        border-top: 1px solid #fcdaf9;
    }

    #btn-menu:checked ~ .menu {
        margin: 0;
    }

    label img {
        visibility: visible;
        position: sticky;
    }
}
