/* Reseteo que debe existir en todo css:

html {
    box-sizing: border-box;
}

*,::after,::before {
    box-sizing: inherit;
} */


@import "colors";
@import "fonts";
@import "medias";



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
      
    }

*,::after,::before {
    box-sizing: inherit;
}

* {
    font-family: $font;
    margin-left: auto;
    margin-right: auto;
}

body {
    color: $texto;
    width: 100%;
    height: auto;
    margin-top: 0;
    background-color: $background;

}

.social__media a img { 
    transition: transform 1.5s ease-in-out;
    cursor: pointer;
}

.social__media a img:hover { /* esto hace que se agrande el logo */
    transform: perspective(100rem) translateZ(30rem);

}

.logoVero { /* poner efecto en el logo */
    width: 25%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;
}

header img {
    transition: transform 1.5s ease-in-out;
    cursor: pointer;
}

header img:hover { /* esto hace que se agrande el logo */
    transform: perspective(30rem) translateZ(8rem);

}

header {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #e7d6c3; /* Color de fondo del header */
    width: 100%;
    height: 150px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Sombra para separar del fondo del body */
}




.menu ul {
    list-style: none; /* Quita los marcadores de lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
}

.menu ul li {
    display: inline-block; /* Alinea los elementos de la lista en línea */
    padding-right: 20px; /* Espaciado entre cada elemento de la lista */
}

.menu ul li a {
    text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
    color: #000; /* Cambia el color del texto a negro */
    transition: text-shadow 0.3s ease;
}

.menu ul li a:hover {
    color: $text-hover; /* Cambia el color del texto al color deseado cuando se pasa el cursor por encima */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}



.menu ul {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-right: 200px;
    width: max-content;
    max-width: 1200px;
    color: #000;
    
}

.menu ul li a:visited {
    color: #000;
    text-decoration: none;
}

.menu a:hover{
    color: $text-hover;  
    text-decoration: none; 
}

#btn-menu {
    display: none;
}

label img{
    visibility: hidden;
}


main {
    margin-left: 15%;
    margin-right: 15%;
}

h1 { 
    font-size: 3.5rem;
}

h2 {
    font-size: 2.0rem;
}

p { 
    font-size: 1.2rem;
}

section {
    padding-bottom: 8%;
}

.papi {
    font-family: $dad-text;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
}

.home__container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;

}

.home__title {
    transition: text-shadow 0.3s ease;
    cursor: pointer;
}

.home__title--decorated:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.hi { /* poner efecto de saludo con la mano */
    display: inline-block;
    cursor: pointer;  
    transform-origin: 50% 100%;
  }
  
@keyframes sayHi {
    0% {
      transform: rotatez(-13deg);
    }
    100% {
      transform: rotatez(13deg);
    }
  }
  
.hi:hover {
   animation-name: sayHi;
   animation-duration: 1.2s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-direction: alternate;
  }

.titulo {
    margin-left: 0;
}

.social__media { /* poner efecto en los iconos */
    margin-top: 15px;
}

.socialmedia__link {
    padding: 5px;
    text-decoration: none;
}
.home__title {
    margin-top: 100px;
    margin-bottom: 0;
}


/* FOTO */

#fotoVero img { 
        width: 60%;
        height: auto;
        object-fit: cover;
        object-position: 0 50%;
        position: sticky;
        z-index: -1;
        margin-top: 10%;
        margin-left: 30%;
}

#fotoVero .fotoVero { /* esto lo hice copy paste, estudiar */
    background-color: $photo-color;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0.3s;
    border-radius: 100%;
        -webkit-animation-name: fotoVero; 
        animation-name: fotoVero;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fotoVero {
        0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        50% {
        opacity: 1;
        }
        }
        @keyframes fotoVero {
        0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        50% {
        opacity: 1;
        }
    
}

#fotoVero .fotoVero:hover {
    background-color: $photo-color;
    border-radius: 80%;
}

/* proyectos */

.proyects__grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 75%;

}

.proyects__grid a {
    margin-right: 8%;
    text-align: center;
    text-decoration: none;
    color: $texto;
}

@keyframes susulenta {
    from {
        opacity: 0;
        transform:rotate(-120deg);
    }

    to {
        opacity: 2;
    
    }
    
}
.susulenta:hover {
    animation-name: susulenta;
    animation-duration: 1.0s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: .3s;

}

@keyframes tritato {
    from {
        opacity: 0;
        transform:rotate(-120deg);
    }

    to {
        opacity: 2;
     
    }
    
}

.tritato:hover {
    animation-name: tritato;
    animation-duration: 1.0s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: .2s;

}

@keyframes calculadora {
    from {
        opacity: 0;
        transform:rotate(-120deg);
    }

    to {
        opacity: 2;
     
    }
    
}

.calculadora:hover {
    animation-name: calculadora;
    animation-duration: 1.0s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: .3s,
}

@keyframes adivinanza {
    from {
        opacity: 0;
        transform:rotate(-120deg);
    }

    to {
        opacity: 2;
     
    }
    
}

.adivinanza:hover {
    animation-name: adivinanza;
    animation-duration: 1.0s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: .3s,
}


/* CERTIFICADOS */


.certificado__desarrollo, .certificado__js, .certificado__freeCode, .certificado__react {
    border: thick solid #000;
    max-width: 100%;
    border-radius: 1rem;
    margin-left: auto;
    margin-bottom: 3rem;
    width: 600px;
    height: 450px;
    margin-right: 4%;
}

.certifications__grid img {
    width: 45%;
    height: 100%;
    object-fit: cover; /* asi es como pongo la imagen dentro del cuadrado */
    object-position: center;
} 


/* tecnologias */

.skills__grid {
    display:flex;
    flex-wrap:wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.skill img {
    object-fit:contain;
}

@keyframes skill {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
    
}

.skill img:hover {
    cursor: pointer;
    animation-name: skill;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: .3s;

    
}


/* CONTACTO */

.form-logoVero {
    margin-top: 70px;
    width: 30%;
    height: 10%;
    margin-right: 20px;
    margin-left: 10px;

}

#form-container {
display: flex;
justify-content:space-around;
  margin-left: 15%;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,0.6);
  width: 80%;
  
}

label {
    display: block;
    margin: .5em 0 0 0;

}

.form {
    width: 30%;
    padding: 40px;
    margin-left: -20px;
    margin-right: 10px;
     
}

.form-logoVero {
    padding-top: 5%;
    width: 30%;
}
.form > * {
    margin-top: 5px;
    margin-bottom: 2px;
    font-family: $font;
    font-size: 1rem;
    border-radius: 5px;
    text-align:start;

}


form button.enviar {
    background-color: $text-shadow;
    color: #000;
    font-weight: bold;
    text-align:center;
    padding-top: 0;
    margin-left: 120px;

}

form button.enviar:hover {
    cursor: pointer;
    opacity: 75%;
}

input, textarea {
    background-color: $background;
    border-style: solid;
    border-radius: 5%;
    text-align:start;
    padding-top: 7px;
    padding-left: 5px;
}



/* FOOTER */


.footer-container {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
}
.text__footer {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 5px;
}

.frase__papi {
    font-family: $dad-text;
    font-style: italic;
    font-size: 1.1rem;
    text-align: center;

}

.socialmedia__link {
    padding-right: 30px;
}

.redes__sociales a img { 
    transition: transform 1.5s ease-in-out;
    cursor: pointer;
}

.redes__sociales a img:hover { /* esto hace que se agrande el logo */
    transform: perspective(100rem) translateZ(30rem);

}

@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
    
}

.heart {
    animation: pulse 3s linear infinite;
    margin: 5px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    align-content: center;
    padding-bottom: 0;
    margin-bottom: 3px;
    
}

.part1 {
    margin-right: 0;
}

.part2 {
    margin-left: 0;
}

.btn-menu {
    display: none;
}

@import "medias";